@import url("https://use.typekit.net/vge7pzq.css");
:root{
  --primary-color: #3659B5;
  --secondary-color: #13C29A;
  --headers-black: #0E101A;
  --light-text: #97A0BF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: muli, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
  color: #333 !important;
}

p{
  color: #6D758D;
}